<section class="jumbotron text-center" style="background-image: url(<%= bg_url %>);">
  <div class="container">
    <h1 class="jumbotron-heading">Des Événements partout, tout le temps</h1>
    <p class="lead">Créez et participez à des événements, près de chez vous.</p>
    <p>
      <a href="<%= path_primary %>" class="btn btn-primary my-2">Créer un événement</a>
      <a href="<%= path_secondary %>" class="btn btn-secondary my-2">Participer à un événement</a>
    </p>
  </div>
</section>