<main role="main">
  <%= render partial: "shared/big_banner", locals: {path_primary: new_event_path, path_secondary: "#", bg_url: "https://images.pexels.com/photos/53545/background-blue-clean-clear-53545.jpeg?cs=srgb&dl=pexels-public-domain-pictures-53545.jpg&fm=jpg"} %>
  
  <div class="container">
    <div class="row">
      <% @events.reverse_each do |event| %>
        <%= render partial: 'card', locals: {event: event, picture_url: "https://images.pexels.com/photos/1190297/pexels-photo-1190297.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"} %>
      <% end %>
    </div>
  </div>
</main>